
.product-item {
  margin-bottom: 15px;
  padding: 4px;
  text-align: center;
  postion: relative;
  height: 342px;
}

.product-item img{
  width: 100%;
}

.item-text h4{
  height:44;
}

.item-text h5{
  height:44px;
}

.product-description {
  text-align: left;
  height: 78px;
}


.clearfix::after {
  content: '';
  display: table;
  clear: both;
}